:root {
  --lime-green: hsl(163, 72%, 41%);
  --bright-red: hsl(356, 69%, 56%);
  --facebook: hsl(208, 92%, 53%);
  --twitter: hsl(203, 89%, 53%);
  --instagram: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
  --youtube: hsl(348, 97%, 39%);
  --switch-light-theme: hsl(230, 22%, 74%);
  --switch-dark-theme: linear-gradient(
    to right,
    hsl(210, 78%, 56%),
    hsl(146, 68%, 55%)
  );
  --BG-dark: hsl(230, 17%, 14%);
  --top-BG-dark: hsl(232, 19%, 15%);
  --card-BG-dark: hsl(228, 28%, 20%);
  --text-dark: hsl(228, 34%, 66%);
  --white: hsl(0, 0%, 100%);
  --top-BG-light: hsl(225, 100%, 98%);
  --card-BG-light: hsl(227, 47%, 96%);
  --text-light: hsl(228, 12%, 44%);
  --Dtext-light: hsl(230, 17%, 14%);
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  font-family: "Inter", sans-serif;
  transition: 300ms ease;
  padding-bottom: 6.25rem;
}
p {
  transition: 300ms ease;
}
h1,
h2 {
  transition: 300ms ease;
}

body.light-theme {
  background-image: linear-gradient(var(--top-BG-light) 32%, var(--white) 30%);
}
body.dark-theme {
  background-image: linear-gradient(var(--top-BG-dark) 32%, var(--BG-dark) 30%);
}
@media (max-width: 40rem) {
  body.light-theme {
    background-image: linear-gradient(
      var(--top-BG-light) 10%,
      var(--white) 10%
    );
  }
  body.dark-theme {
    background-image: linear-gradient(
      var(--top-BG-dark) 10%,
      var(--BG-dark) 10%
    );
  }
}
body main {
  max-width: 69.375rem;
  min-width: 18.75rem;
  width: 85%;
}
body .dashboard-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2.5rem;
}
body.dark-theme .dashboard-title h1 {
  color: var(--white);
}
body .dashboard-title p {
  color: var(--text-light);
}
body.dark-theme .dashboard-title p {
  color: var(--text-dark);
}
.dashboard-title div:first-of-type p {
  font-weight: 600;
  padding-top: 0.3125rem;
}

/* ON/OFF Theme Switcher */

body .theme-switcher {
  display: flex;
  align-items: center;
}
body .theme-switcher p {
  transition: color 0.5s ease-in-out;
  font-weight: 700;
  margin-right: 0.625rem;
}
body.dark-theme
  .theme-switcher
  label:hover
  + body.dark-theme
  .theme-switcher
  p {
  color: var(--white);
}
body .theme-switcher input[type="checkbox"] {
  opacity: 0;
  position: absolute;
}
body .theme-switcher label {
  display: inline-block;
  position: relative;
  height: 1.3125rem;
  width: 2.8125rem;
  background-color: var(--switch-light-theme);
  cursor: pointer;
  border-radius: 3.125rem;
}
body.dark-theme .theme-switcher label,
body.light-theme .theme-switcher label:hover {
  background-image: var(--switch-dark-theme);
}
body .theme-switcher .ball {
  position: absolute;
  top: 0.11875rem;
  left: 0.125rem;
  height: 1.0625rem;
  width: 1.0625rem;
  background-color: #fff;
  border-radius: 50%;
  transform: translateX(1.4375rem);
  transition: all 0.2s linear;
}
body.dark-theme .theme-switcher .ball {
  background-color: var(--top-BG-dark);
}
body.dark-theme .theme-switcher label .ball {
  transform: translateX(0);
}

/* Social Media Cards */

.f-social-media-cards {
  margin-top: 3.125rem;
}
.f-social-media-cards .continer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1.875rem;
}
.f-social-media-cards .continer .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  background-color: var(--card-BG-light);
  border-radius: 0.3125rem;
  padding-bottom: 1.25rem;
  box-shadow: 1px 1px 16px 1px rgb(0 0 0 / 16%);
  transition: 300ms ease;
}
body.dark-theme .f-social-media-cards .continer .card {
  background-color: var(--card-BG-dark);
}
.f-social-media-cards .continer .card span {
  position: absolute;
  top: 0;
  width: 100%;
  height: 0.1875rem;
}
.f-social-media-cards .continer .facebook span {
  background-color: var(--facebook);
}
.f-social-media-cards .continer .twitter span {
  background-color: var(--twitter);
}
.f-social-media-cards .continer .insta span {
  background-image: var(--instagram);
}
.f-social-media-cards .continer .youtube span {
  background-color: var(--youtube);
}
.f-social-media-cards .continer .card div:first-of-type {
  display: flex;
  justify-content: center;
  margin-top: 1.875rem;
}
.f-social-media-cards .continer .card div:nth-of-type(2) {
  margin-top: 1.4375rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.f-social-media-cards .continer .card div:last-of-type {
  display: flex;
  flex-direction: row;
  margin-top: 1.125rem;
  align-items: center;
}
.f-social-media-cards .continer .card div:last-of-type img {
  width: 0.6rem;
  height: 0.3rem;
  margin-top: 0.11rem;
  margin-right: 0.25rem;
}
.f-social-media-cards .continer .youtube div:last-of-type p {
  color: var(--bright-red);
}
.f-social-media-cards .continer .card:not(:last-of-type) div:last-of-type p {
  color: var(--lime-green);
}
.f-social-media-cards .continer div .platform-icon {
  margin-right: 0.5rem;
}
.f-social-media-cards .continer div .social-username {
  color: var(--text-light);
  font-size: 0.875rem;
}
.f-social-media-cards .continer div .followers {
  color: #000;
  font-size: 3.4375rem;
  font-weight: 700;
}
body.dark-theme .f-social-media-cards .continer div .followers {
  color: var(--white);
}
body.dark-theme .f-social-media-cards .continer div .follow-sub,
.social-username {
  color: var(--text-dark);
}
.f-social-media-cards .continer div .follow-sub {
  color: var(--text-light);
  font-size: 0.8125rem;
  text-transform: uppercase;
  letter-spacing: 0.3125rem;
}
.f-social-media-cards .continer div .days {
  font-size: 0.8rem;
}

/* Social Media Cards And Header | Tablet Design */
@media (max-width: 66.875rem) {
  .dashboard-title div:first-of-type h1 {
    font-size: 1.75rem;
  }
  .dashboard-title p {
    font-size: 0.9375rem;
  }
  .f-social-media-cards .continer {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.875rem;
  }
}

/* Social Media Cards And Header | Mobile Design */

@media (max-width: 40rem) {
  .dashboard-title {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 2.5rem;
  }
  .dashboard-title div:first-of-type {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
  }
  .dashboard-title div:first-of-type h1 {
    font-size: 1.5625rem;
  }
  .dashboard-title div:first-of-type p {
    font-size: 0.875rem;
  }
  .dashboard-title div:first-of-type p::after {
    content: "";
    width: 100%;
    height: 0.04375rem;
    background-color: var(--text-dark);
    position: absolute;
    bottom: 2.4375rem;
    right: 0;
  }
  .theme-switcher {
    justify-content: space-between;
    width: 100%;
    margin-top: 2.5rem;
  }
  .f-social-media-cards .continer {
    grid-template-columns: auto;
    column-gap: 0;
    grid-template-rows: repeat(4, 1fr);
    row-gap: 1.25rem;
  }
}

/* Overview Cards */

.overview-cards {
  margin-top: 3.125rem;
  padding-bottom: 6.25rem;
}
.overview-cards h2 {
  color: var(--text-light);
  transition: 300ms ease;
}
body.dark-theme .overview-cards h2 {
  color: var(--white);
}
.grid-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1.875rem;
  margin-top: 1.875rem;
}
.grid-cards .ov-card {
  background-color: var(--card-BG-light);
  box-shadow: 1px 1px 16px 1px rgb(0 0 0 / 16%);
  border-radius: 6px;
  padding: 1.5625rem;
  transition: 300ms ease;
}
.grid-cards .ov-card:hover,
.card:hover {
  transform: scale(1.02);
  background-color: #e5e8f6 !important;
  cursor: pointer;
}
body.dark-theme .grid-cards .ov-card:hover,
body.dark-theme .card:hover {
  transform: scale(1.02);
  background-color: #2e3552 !important;
  cursor: pointer;
}
body.dark-theme .grid-cards .ov-card {
  background-color: var(--card-BG-dark);
}
.grid-cards .ov-card .ov-title {
  display: flex;
  justify-content: space-between;
}
.grid-cards .ov-card .ov-title p {
  font-size: 0.875rem;
  font-weight: 700;
  color: var(--text-light);
}
body.dark-theme .grid-cards .ov-card .ov-title p {
  color: var(--text-dark);
}
.grid-cards .ov-card .stats {
  display: flex;
  justify-content: space-between;
  margin-top: 1.875rem;
}
.ov-card > div:last-child > p {
  font-size: 1.625rem;
  font-weight: 700;
}
body.dark-theme .ov-card > div:last-child > p {
  color: var(--white);
}
.grid-cards .ov-card .stats div {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
}
.grid-cards .ov-card .stats div img {
  margin-right: 0.3125rem;
}
.grid-cards .ov-card .stats div p {
  font-size: 0.8125rem;
  color: var(--lime-green);
}
.ov-card:nth-child(7) > div:last-child div p,
.ov-card:nth-child(8) > div:last-child div p,
.ov-card:nth-child(2) > div:last-child div p {
  color: var(--bright-red) !important;
}

@media (max-width: 66.875rem) {
  .grid-cards {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}

/*  */

@media (max-width: 40rem) {
  .grid-cards {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
  }
  .grid-cards .ov-card {
    max-width: 33.125rem;
  }
}
