:root {
  --lime-green: hsl(163, 72%, 41%);
  --bright-red: hsl(356, 69%, 56%);
  --facebook: hsl(208, 92%, 53%);
  --twitter: hsl(203, 89%, 53%);
  --instagram: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
  --youtube: hsl(348, 97%, 39%);
  --switch-light-theme: hsl(230, 22%, 74%);
  --switch-dark-theme: linear-gradient(
    to right,
    hsl(210, 78%, 56%),
    hsl(146, 68%, 55%)
  );
  --BG-dark: hsl(230, 17%, 14%);
  --top-BG-dark: hsl(232, 19%, 15%);
  --card-BG-dark: hsl(228, 28%, 20%);
  --text-dark: hsl(228, 34%, 66%);
  --white: hsl(0, 0%, 100%);
  --top-BG-light: hsl(225, 100%, 98%);
  --card-BG-light: hsl(227, 47%, 96%);
  --text-light: hsl(228, 12%, 44%);
  --Dtext-light: hsl(230, 17%, 14%);
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  /* height: 100vh; */
  font-family: "Inter", sans-serif;
  transition: 300ms ease;
}
p {
  transition: 300ms ease;
}
h1,
h2 {
  transition: 300ms ease;
}
